.imagenAncha {
    width: 100%;
    height: auto;
}

p {
    color: black;
    font-size: 10px;
    margin-top: 5px;
}


.celdaMuro {
    background-color: #DDDDDD;
    margin-right: 15px;
    border-radius: 15px;
    border-spacing: 10px;
    padding: 10px;
    margin-bottom: 15px;
    
}

#mapa, #map-canvas { width: 100%; height: 100%; padding: 0; }

img.popphoto.imagenAncha {
    border-radius: 10px;
}

.piquefoto {
    color: gray;
    font-size: 8px;
    margin-top: 8px;
}

.ui-grid-d {
    margin-left: 20px;
    
}

.logologin {
    margin-bottom: 30px;
    margin-top: 50px;
    height: 200px;
}

.textopopup {
    color: white;
}

.iconocheck {
    margin-top: 120px;
}


.firma{
    font-size: 14px;
}

.facebook{
    height: 600px;
}

.twitter{
    height: 600px;
}
